
.navbar-toggler{
  display:none;
}
.topheader {
  background-color: rgb(7 7 241 / 69%);
}
.topheader a {
  color: #fff !important;
  text-transform: uppercase;
}
.topheader a:hover {
  color: rgb(243, 141, 8) !important;
}
a {
  color: rgb(7 7 241 / 69%);
  text-decoration: none;
}
.fa {
  color: rgb(7 7 241 / 69%);
}

#carouselControls {
  margin-top: -24px;
  z-index: -1;
  background-image:url('../img/lport3.jpg');
  background-size: cover;
  object-fit: contain;
  height: 500px;
  width: 100%;
 
}
.carouselItemImg {
  height: 500px;
  width: 100%;
}

.overlay {
  position: relative;
  top: 22px;
  bottom: 0;
  background: rgba(161, 158, 158, 0.5); /* Black see-through */
  width: 100%;
  opacity: 1;
}

.overlay h1 {
  position: absolute;
  color: #fff;
  top: 20%;
  left: 40%;
  text-transform: uppercase;

  z-index: 10;
}
.overlay h2 {
  position: absolute;
  color: rgb(243, 141, 8);
  top: 45%;
  left: 25%;
  text-transform: uppercase;
}
.overlay .separate {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 25%;
  margin-bottom: 20px;
  border: 5px solid rgb(7 7 241 / 69%);
}
h1 {
  text-transform: uppercase;
}
.barIcon {
  background-color: cornflowerblue;
  width: 2em;
  height: 2em;
}
.fas {
  font-size:20px;
}
h2 {
  color:rgb(20 12 1);
}
footer {
  color: #fff;
  width: 100%;
}
.CookieNotice {
  display: none;
}
/* ACTUALITY_PAGE */
.coverPhoto {
  background-size: contain;
}

/* ACTIVITY_PAGE */

.asideLeft {
  min-height: 650px;
  width: 100%;
  margin-top: 10px;
  background-color: rgb(197, 197, 238);
}
.asideRight {
  min-height: 650px;
  width: 100%;
  margin-top: 10px;
  background-color: #0b5583b9;
}
.mainSection {
  min-height: 650px;
  width: 100%;
  margin-top: 10px;
  padding: 50px;
}
.BookingTabs-titles {
  display: inline-table;
  vertical-align: bottom;
  width: 100%;
  font-size: 1.2rem;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  background-color:  rgb(7 7 241 / 69%);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.BookingTabs-content {
    overflow: hidden;
    background-color: #0b5583b9;
}
.BookingTabs-list {
    margin-left: -28px;
    font-size: 0rem;
}
.BookingTabs-item {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    height: 125px;
    border-width: 1px 0 0 1px;
    font-size: 1rem;
    line-height: 1.15;
    text-align: center;
}
.BookingTabs-item a {
    display: block;
    overflow: hidden;
    height: 100%;
    margin-left: -1px;
    padding: 5px 10px;
    border: solid #bf1867;
    border-width: 0 1px 1px;
    color:#fff;
}
.BookingTabs-item .fa{
    font-size: 50px;
    color:#fff;
}
.BookingTabs {
    color: #fff;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: 400;
    font-size: .7rem;
}

.SearchBlock{
  background-color:  rgb(7 7 241 / 69%);
  color:#fff;
  margin-top:50px;
}
.selectActivites{
 width:100%;
 height: 42px;
}
.SearchBlock-datepicker {
  width: 100%;
  height: 42px;
  margin-left: 10px;
  padding: 10px;
   border-radius: 0;
  color: #404040;
  font-size: .8rem; 
  background-position: 95% center;
  background-position: right 10px top 50%;
 
 
}
input{
  line-height: normal; 
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../img/calendar.png) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}
.imgTopCard {
  width:50%;
  height:50%;
}

/*CONTACT PAGE*/
.contactPage {
  background-image: url(../img/lport3.jpg);
  background-size: cover;
  height: 100vh;
}
.overlayContact {
  position: relative;
  top: 0px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.637);
  width: 100%;
  opacity: 1;
}
.formContainer {
  height: 85vh;
  color: fff;
  background-color: rgba(0, 0, 0, 0.472);
}
.containerMessage {
  margin: 20px auto;
}
textarea{
  width:100%;
  height:150px;
  margin-top:20px; 
}
.fa-refresh {
  color: #fff !important;
}
#googleMap {
  height: 400px;
  width: 100%;
  margin: 10px auto;
}
.w3-spin {
  animation: w3-spin 2s infinite linear;
  -webkit-animation: w3-spin 2s infinite linear;
}
@-webkit-keyframes w3-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes w3-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.imgcircle{
  width:50px;
  height:50px;
  border-radius:9999px ;
  border:2px solid #fff;
}
.inline-flex {
  display: inline-flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-content{
  justify-content: center;
}
.assideAdminPanel{
  min-height: 650px;
  height:auto;
  width: 100%;
  padding:10px;
  margin-top: 0px;
  margin-left:-12px; 
  background-color: rgb(7 7 241 / 69%); 
  font-size: 25px; 
}

.assideAdminPanel a{
   color:#fff;
}
.flex{
  display:flex;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-col {
  flex-direction: column;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
/*Aside*/
.list-reset{
 list-style: none;
 width:100% !important;
 margin:0 auto;
 padding-left: 0rem;
}

.bg-side-nav {
  background-color:  rgb(197, 197, 238);
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.border-b {
  border-bottom: 1px solid navy;
}

.no-underline {
  text-decoration: none;
}
.text-sm {
  font-size: 0.875rem;
}
.text-nav-item {
  color: #626b7a;
}
.font-hairline {
  font-weight: 100;
}
.font-sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.firstSection{
  display:none;
 }
 .displaySection{
  display:block !important;
 }
 #sectionActivites{
  display:none;
 }
 #sectionActualites{
  display:none;
 }
 #sectiontable{ display:none;}
 #sectioncomponent{ display:none;}
 #sectionmodal{ display:none;}
 #wysiwyg_cp{
  padding:8px 0px;
  max-width:100%;
  }
  #wysiwyg{
    padding:8px 0px;
    max-width:100%;
    }
  label{
      font-size:19px;
      font-weight: bolder;
       
  }
  .input-group-text {
  color:#fff;
  background-color:rgb(7 7 241 / 69%);
  }
  #ActivitesrichTextField{
    border:#000000 1px solid; 
    width:100%;
    height:300px; 
   }
  
  #ActualitesrichTextField{
   border:#000000 1px solid; 
   width:100%;
   height:300px; 
  }
  #myTextArea{
   color:#fff; 
   background-color: black;
  }
  .output{
     min-height:350px;
      width:100%;
    }
  #UploadImageActivites{
      display:none;
  }
  #UploadImageActualites{
    display:none;
  }
  #display_image{
      width:50%;
      height:min-content;
      margin:10px 25%;
  
  }
  .postionx{
      position:relative;
      width:50px;
      top:-30px;
      left:93%;
      cursor: pointer;
  }
  .date{
     width: 100%;
    height: 42px;    
    padding: 10px;
    border-radius: 0;
    color: #404040;
    font-size: .8rem;
    background-position: 95% center;
    background-position: right 10px top 50%;
}
  
  .btn-dark{
   margin-bottom:10px;
  }
  #dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
  }
  #dialogbox{
    display: none;
    position: fixed;
    background: #000;
    border-radius:7px; 
    width:550px;
    z-index: 10;
  }
  #dialogbox > div{ background:#FFF; margin:8px; }
  #dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
  #dialogbox > div > #dialogboxbody{ background: #333; padding:20px; color:#FFF; }
  #dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }
  .animate-left{
    position:relative;
    animation-name:animateleft;
    animation-duration: 5s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    
  }
  @keyframes animateleft{
    from {left: -1324px;}
    to {left:0px;}
   
  }
  @media screen and (max-width: 769px) {
       #wysiwyg_cp{
          padding:8px;
          max-width:100%;
          }
          #richTextField{
              width:100%;  
          }   
  }
     
@media (min-width: 1024px){
.lg\:flex-row {
    flex-direction: row;
}
}
@media (max-width: 768px) {
  .navbar-collapse{
    display:none;
  }
    .navbar-toggler{
      display:block;
    }
    .collapseDev{
     display:block;
      min-height: 194px;
     position:relative;
     animation:animatetop 0.4s}
     @keyframes animatetop{
       from{top:-300px;opacity:0} to{top:0;opacity:1}
      }
      .assideAdminPanel {
        display:none;
      }
  .sidebarView{
    display:block !important;
    min-height: 517px;
  }
  .overlay h2 {
    left: 1%;
  }
  .overlay .separate {
    width: 41%;
  }
  .cardAdress {
    margin: 10px auto;
  }
  .overlayContact {
    height: 300vh;
  }
  .containerMessage {
    margin: 5px auto;
  }
  .formContainer {
    height: 110vh;
    width: 100%;
  }
  .list-group {
    padding-left: 10px !important;
  }
  #googleMap {
    margin-top: 834px;
  }
  /*.footerContainer {
    display: none;
  }*/
  .mainSection {
    padding:0;
  }
  #Activitestitle
  {
    margin:15px auto !important;

  }
  #Actualitestitle{
    margin:15px auto !important;

  }
  .input-group-text {
    font-size: 13px;
  }
  .input-group>.form-control{
    width:100%;
  }
}
@media (min-width: 768px) {
  .contactPage {
    height: 90vh;
  }
  .overlayContact {
    height: 110vh;
  }
  #googleMap {
    margin-top: 136px;
  }
  .footerContainer {
    display: block;
  }
  .SearchBlock {
    padding: 20px 10px;
}
}
